
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">
</head>
<body>
    <div class="container">
        <form id="inscription-form" action="{% url 'connexion' %}" method="post">
            {% csrf_token %}
            <h2>Connexion</h2>
            <div class="input-group">
                <label for="username">Nom d'utilisateur*</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <div class="input-group">
                <label for="password">Mot de passe*</label>
                <div class="password-input">
                    <input type="password" id="password" name="password" required>
                    <img src="{% static 'images/show_password.png' %}" alt="Cacher le mot de passe" class="eye-icon" id="hidePassword">
                </div>
            </div>
            
            <div class="input-group">
                <button type="submit">Se connecter</button>
            </div>
            <div class="register-link">
                <a href="{% url 'inscription' %}">Pas de compte ? Inscrivez-vous</a>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <p class="error-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <p><i>*Champs requis</i></p>
        </form>
    </div>

</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Sélection de l'icône pour masquer/afficher le mot de passe
        var eyeIcon = document.getElementById('hidePassword');
        eyeIcon.addEventListener('click', function() {
            togglePasswordVisibility('password'); 
        });

        // Sélection de l'icône pour masquer/afficher la confirmation du mot de passe
        var confirmEyeIcon = document.getElementById('hideConfirmPassword');
        confirmEyeIcon.addEventListener('click', function() {
            togglePasswordVisibility('confirm-password'); 
        });

        // Fonction pour basculer la visibilité du mot de passe
        function togglePasswordVisibility(fieldId) {
            var passwordInput = document.getElementById(fieldId); 
            var iconId = fieldId === 'password' ? 'hidePassword' : 'hideConfirmPassword'; 

            // Change le type de champ en fonction de son état actuel
            if (passwordInput.type === "password") {
                passwordInput.type = "text"; 
                document.getElementById(iconId).src = "{% static 'images/hide_password.png' %}"; 
            } else {
                passwordInput.type = "password"; 
                document.getElementById(iconId).src = "{% static 'images/show_password.png' %}"; 
            }
        }

        // Événement lors de la soumission du formulaire d'inscription
        var form = document.getElementById('inscription-form');
        form.addEventListener('submit', function(event) {
            var password = document.getElementById('password').value; 
        });
    });
</script>
